@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;
@use "../../styles/global" as *;
@use "../../styles/mixins" as *;

.nav {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  background-color: rgb(23, 7, 7);
  border-radius: 0.3125rem;

  &__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s ease;
    font-size: 1rem;

    &--active {
      color: white;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }

    &:hover {
      color: white;
    }
  }
  @include tablet {
    flex-wrap: nowrap;
    gap: 2.5rem;
    &__link {
      font-size: 1.25rem;
    }
  }
}
